.user-select-none {
    -webkit-tap-highlight-color: transparent; /* For iOS */
    -webkit-touch-callout: none; /* For iOS */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
    user-select: none;
  }